Repository go-fork/di, changes with the owners that .github/CODEOWNERS names for each.
All owners: @go-fork/maintainers, @go-fork/core-team, @go-fork/docs-team, @go-fork/legal-team, @go-fork/test-team, @go-fork/devops-team

feat: Add mock implementations for Application, ServiceProvider, and ModuleLoaderContract
  coverage.html
  go.mod
  go.sum
  mocks/Application.go
  mocks/ModuleLoaderContract.go
  mocks/README.md
  mocks/ServiceProvider.go
  mocks/ServiceProviderDeferred.go
Owners: @go-fork/maintainers

feat: Add mocks for main interfaces and documentation for testing
  CHANGELOG.md
  README.md
  doc.go
Owners: @go-fork/docs-team

feat: add mocks for interfaces and update documentation
  CHANGELOG.md
Owners: @go-fork/docs-team

feat: rename file mocks
  mocks/deferred.go
  mocks/loader.go
  mocks/provider.go
  release_notes.md
Owners: @go-fork/maintainers

feat: enhance CI/CD pipeline and GoReleaser configuration
  .github/.golangci.yml
  .github/CONFIGURATION_SUMMARY.md
  .github/RELEASE_TEMPLATE.md
  .github/dependabot.yml
  .github/issue-labeler.yml
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-update-deps.yml
  .github/workflows/benchmark.yml
  .github/workflows/compatibility.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/go.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/validate-goreleaser.yml
  .github/workflows/vulnerability-scan.yml
  .goreleaser.yml
Owners: @go-fork/devops-team, @go-fork/maintainers

fix: update GoReleaser to version 2 format and clean up git state in release workflow
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
Owners: @go-fork/devops-team, @go-fork/maintainers

fix: remove deprecated GoReleaser v2 properties
  .goreleaser.yml
Owners: @go-fork/maintainers

fix: remove archives section from GoReleaser config for library
  .goreleaser.yml
Owners: @go-fork/maintainers

fix: correct API usage in example tests workflow
  .github/workflows/examples.yml
Owners: @go-fork/devops-team

fix: correct API usage in compatibility test
  .github/workflows/compatibility.yml
Owners: @go-fork/devops-team

fix: use container variable in module compatibility test
  .github/workflows/compatibility.yml
Owners: @go-fork/devops-team

cleanup: remove unnecessary Node.js workflows
  .github/workflows/auto-label.yml
  .github/workflows/docs.yml
  .github/workflows/semantic-release.yml
  .github/workflows/vulnerability-scan.yml
Owners: @go-fork/devops-team

feat: add pkg.go.dev update workflow
  .github/workflows/update-pkg-go-dev.yml
Owners: @go-fork/devops-team

fix: add benchmark functions and fix workflows
  .github/workflows/benchmark.yml
  container_test.go
Owners: @go-fork/devops-team, @go-fork/test-team

fix: simplify benchmark and vulnerability workflows
  .github/workflows/benchmark.yml
  .github/workflows/vulnerability-scan.yml
Owners: @go-fork/devops-team

fix: remove problematic Nancy scanner, keep govulncheck only
  .github/workflows/vulnerability-scan.yml
Owners: @go-fork/devops-team

fix: update goreleaser config for v1 compatibility
  .goreleaser.yml
Owners: @go-fork/maintainers

fix: restore goreleaser v2 configuration for GitHub Actions
  .goreleaser.yml
Owners: @go-fork/maintainers

feat: add dependency management to ServiceProvider interface
  CHANGELOG.md
  README.md
  application.go
  mocks/Application.go
  mocks/provider.go
  provider.go
Owners: @go-fork/docs-team, @go-fork/core-team, @go-fork/maintainers

docs: update CHANGELOG.md for v0.0.5 release
  CHANGELOG.md
Owners: @go-fork/docs-team

fix: exclude mocks from test coverage and fix interface implementations
  .github/workflows/go.yml
  .github/workflows/release.yml
  container_test.go
Owners: @go-fork/devops-team, @go-fork/test-team

Fix errcheck linting issue in TestDeferredProvider by handling Boot() error return
  container_test.go
Owners: @go-fork/test-team

Fix: cập nhật container_test.go để sửa lỗi biến err được khai báo lại
  container_test.go
Owners: @go-fork/test-team

feat(doc): Remove duplicate import header
  application.go
  binding.go
  container.go
  deferred.go
  loader.go
  provider.go
Owners: @go-fork/core-team

feat: Change package name to go.fork.vn/di and prepare v0.1.0 release
  .github/.golangci.yml
  .github/RELEASE_TEMPLATE.md
  .github/workflows/compatibility.yml
  .github/workflows/examples.yml
  .github/workflows/update-pkg-go-dev.yml
  CHANGELOG.md
  README.md
  docs/README.md
  docs/application.md
  docs/container.md
  docs/deferred.md
  docs/loader.md
  docs/provider.md
  go.mod
  mocks/Application.go
  mocks/README.md
  release_notes.md
Owners: @go-fork/devops-team, @go-fork/docs-team, @go-fork/maintainers

docs: Add migration guide and release notes for v0.1.0
  MIGRATION.md
  RELEASE_NOTES_v0.1.0.md
Owners: @go-fork/maintainers

docs: Finalize v0.1.0 release documentation
  CHANGELOG.md
  RELEASE_SUMMARY.md
Owners: @go-fork/docs-team, @go-fork/maintainers

docs: Final polish of release documentation
  MIGRATION.md
  RELEASE_NOTES_v0.1.0.md
Owners: @go-fork/maintainers

docs: v0.1.1 - migrate interface{} to Application and restructure documentation
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/SECURITY.md
  .goreleaser.yml
  CHANGELOG.md
  MIGRATION_v0.1.0.md
  MIGRATION_v0.1.1.md
  README.md
  RELEASE_SUMMARY.md
  container_test.go
  deferred.go
  doc.go
  docs/container.md
  docs/deferred.md
  docs/index.md
  docs/overview.md
  docs/provider.md
  mocks/deferred.go
  mocks/provider.go
  provider.go
Owners: @go-fork/devops-team, @go-fork/maintainers, @go-fork/docs-team, @go-fork/test-team, @go-fork/core-team

feat: Chuyển đổi Container thành interface và regenerate mocks
  .mockery.yaml
  CHANGELOG.md
  MIGRATION_v0.1.2.md
  RELEASE_NOTES_v0.1.0.md
  RELEASE_NOTES_v0.1.2.md
  application.go
  binding.go
  container.go
  container_test.go
  docs/application.md
  docs/container.md
  docs/mocks.md
  docs/testing.md
  mocks/Application.go
  mocks/README.md
  mocks/container.go
  mocks/deferred.go
  mocks/loader.go
  mocks/module_loader_contract.go
  mocks/provider.go
  mocks/service_provider.go
  mocks/service_provider_deferred.go
Owners: @go-fork/maintainers, @go-fork/docs-team, @go-fork/core-team, @go-fork/test-team

feat: Update package name and documentation for migration to go.fork.vn/di
  .mockery.yaml
  CHANGELOG.md
  LICENSE
  MIGRATION_v0.1.0.md
  RELEASE_NOTES_v0.1.0.md
  RELEASE_SUMMARY.md
  docs/overview.md
  mocks/Application.go
  mocks/README.md
  mocks/binding_func.go
  mocks/container.go
  mocks/module_loader_contract.go
  mocks/service_provider.go
  mocks/service_provider_deferred.go
Owners: @go-fork/maintainers, @go-fork/docs-team, @go-fork/legal-team

fix: Update package name references from github.com/Fork/di to github.com/go-fork/di in documentation
  CHANGELOG.md
  MIGRATION_v0.1.0.md
  RELEASE_NOTES_v0.1.0.md
  RELEASE_SUMMARY.md
Owners: @go-fork/docs-team, @go-fork/maintainers

refactor: Update container binding syntax to use interface directly
  .github/workflows/compatibility.yml
  .github/workflows/examples.yml
  README.md
  doc.go
  docs/container.md
Owners: @go-fork/devops-team, @go-fork/docs-team, @go-fork/maintainers

feat: restructure release documentation and automation
  README.md
  releases/README.md
  releases/next/MIGRATION.md
  releases/next/RELEASE_NOTES.md
  releases/next/RELEASE_SUMMARY.md
  releases/v0.1.0/MIGRATION_v0.1.0.md
  releases/v0.1.0/RELEASE_NOTES_v0.1.0.md
  releases/v0.1.0/RELEASE_SUMMARY.md
  releases/v0.1.1/MIGRATION_v0.1.1.md
  releases/v0.1.2/MIGRATION_v0.1.2.md
  releases/v0.1.2/RELEASE_NOTES_v0.1.2.md
  scripts/README.md
  scripts/archive_release.sh
  scripts/create_release_templates.sh
Owners: @go-fork/docs-team, @go-fork/maintainers

docs: prepare v0.1.3 release documentation
  CHANGELOG.md
  releases/next/MIGRATION.md
  releases/next/RELEASE_NOTES.md
  releases/next/RELEASE_SUMMARY.md
Owners: @go-fork/docs-team, @go-fork/maintainers

release: archive v0.1.3 and setup next development cycle
  releases/v0.1.3/MIGRATION_v0.1.3.md
  releases/v0.1.3/RELEASE_NOTES_v0.1.3.md
  releases/v0.1.3/RELEASE_SUMMARY.md
Owners: @go-fork/maintainers

docs: finalize v0.1.3 release in changelog
  CHANGELOG.md
Owners: @go-fork/docs-team

.github/CODEOWNERS:

# Đây là file CODEOWNERS cho go-fork/di
# Mỗi dòng là một file pattern được theo sau bởi một hoặc nhiều owners.
# Order is important; the last matching pattern takes the most precedence.

# Các maintainer chính cho toàn bộ dự án
*       @go-fork/maintainers

# Di container core
/container.go   @go-fork/core-team
/binding.go     @go-fork/core-team
/provider.go    @go-fork/core-team
/application.go @go-fork/core-team
/deferred.go    @go-fork/core-team
/loader.go      @go-fork/core-team

# Documentation owners
/doc.go         @go-fork/docs-team
/README.md      @go-fork/docs-team
/CHANGELOG.md   @go-fork/docs-team
/LICENSE        @go-fork/legal-team

# Tests
*_test.go       @go-fork/test-team

# CI/CD configuration
/.github/       @go-fork/devops-team
