Repository go-fork/di, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/docs, area/tests, area/ci, dependencies, area/performance

.github/labeler.yml:

# Labeler configuration for pull requests
# See: https://github.com/actions/labeler

# Core library files
'area/core':
  - changed-files:
    - any-glob-to-any-file: 
      - 'container.go'
      - 'application.go'
      - 'binding.go'
      - 'loader.go'
      - 'provider.go'
      - 'deferred.go'

# Documentation changes
'area/docs':
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'doc.go'
      - 'CHANGELOG.md'
      - 'docs/**/*'
      - '*.md'

# Test files
'area/tests':
  - changed-files:
    - any-glob-to-any-file:
      - '*_test.go'
      - 'mocks/**/*'

# CI/CD changes
'area/ci':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.goreleaser.yml'
      - 'Dockerfile*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'

# Performance related
'area/performance':
  - changed-files:
    - any-glob-to-any-file:
      - '*benchmark*'
      - '*_bench.go'

# Breaking changes (requires manual review)
'breaking-change':
  - head-branch: ['breaking/**', 'major/**']

# Feature additions
'type/feature':
  - head-branch: ['feature/**', 'feat/**']

# Bug fixes
'type/bug':
  - head-branch: ['fix/**', 'bugfix/**', 'hotfix/**']

# Refactoring
'type/refactor':
  - head-branch: ['refactor/**', 'refac/**']

# Chores
'type/chore':
  - head-branch: ['chore/**', 'maintenance/**']

fix: update GoReleaser to version 2 format and clean up git state in release workflow
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
Labels: area/ci

fix: remove deprecated GoReleaser v2 properties
  .goreleaser.yml
Labels: area/ci

fix: remove archives section from GoReleaser config for library
  .goreleaser.yml
Labels: area/ci

fix: correct API usage in example tests workflow
  .github/workflows/examples.yml
Labels: area/ci

fix: correct API usage in compatibility test
  .github/workflows/compatibility.yml
Labels: area/ci

fix: use container variable in module compatibility test
  .github/workflows/compatibility.yml
Labels: area/ci

cleanup: remove unnecessary Node.js workflows
  .github/workflows/auto-label.yml
  .github/workflows/docs.yml
  .github/workflows/semantic-release.yml
  .github/workflows/vulnerability-scan.yml
Labels: area/ci

feat: add pkg.go.dev update workflow
  .github/workflows/update-pkg-go-dev.yml
Labels: area/ci

fix: add benchmark functions and fix workflows
  .github/workflows/benchmark.yml
  container_test.go
Labels: area/tests, area/ci

fix: simplify benchmark and vulnerability workflows
  .github/workflows/benchmark.yml
  .github/workflows/vulnerability-scan.yml
Labels: area/ci

fix: remove problematic Nancy scanner, keep govulncheck only
  .github/workflows/vulnerability-scan.yml
Labels: area/ci

fix: update goreleaser config for v1 compatibility
  .goreleaser.yml
Labels: area/ci

fix: restore goreleaser v2 configuration for GitHub Actions
  .goreleaser.yml
Labels: area/ci

feat: add dependency management to ServiceProvider interface
  CHANGELOG.md
  README.md
  application.go
  mocks/Application.go
  mocks/provider.go
  provider.go
Labels: area/core, area/docs, area/tests

docs: update CHANGELOG.md for v0.0.5 release
  CHANGELOG.md
Labels: area/docs

fix: exclude mocks from test coverage and fix interface implementations
  .github/workflows/go.yml
  .github/workflows/release.yml
  container_test.go
Labels: area/tests, area/ci

Fix errcheck linting issue in TestDeferredProvider by handling Boot() error return
  container_test.go
Labels: area/tests

Fix: cập nhật container_test.go để sửa lỗi biến err được khai báo lại
  container_test.go
Labels: area/tests

feat(doc): Remove duplicate import header
  application.go
  binding.go
  container.go
  deferred.go
  loader.go
  provider.go
Labels: area/core

feat: Change package name to go.fork.vn/di and prepare v0.1.0 release
  .github/.golangci.yml
  .github/RELEASE_TEMPLATE.md
  .github/workflows/compatibility.yml
  .github/workflows/examples.yml
  .github/workflows/update-pkg-go-dev.yml
  CHANGELOG.md
  README.md
  docs/README.md
  docs/application.md
  docs/container.md
  docs/deferred.md
  docs/loader.md
  docs/provider.md
  go.mod
  mocks/Application.go
  mocks/README.md
  release_notes.md
Labels: area/docs, area/tests, area/ci, dependencies

docs: Add migration guide and release notes for v0.1.0
  MIGRATION.md
  RELEASE_NOTES_v0.1.0.md
Labels: area/docs

docs: Finalize v0.1.0 release documentation
  CHANGELOG.md
  RELEASE_SUMMARY.md
Labels: area/docs

docs: Final polish of release documentation
  MIGRATION.md
  RELEASE_NOTES_v0.1.0.md
Labels: area/docs

docs: v0.1.1 - migrate interface{} to Application and restructure documentation
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/SECURITY.md
  .goreleaser.yml
  CHANGELOG.md
  MIGRATION_v0.1.0.md
  MIGRATION_v0.1.1.md
  README.md
  RELEASE_SUMMARY.md
  container_test.go
  deferred.go
  doc.go
  docs/container.md
  docs/deferred.md
  docs/index.md
  docs/overview.md
  docs/provider.md
  mocks/deferred.go
  mocks/provider.go
  provider.go
Labels: area/core, area/docs, area/tests, area/ci

feat: Chuyển đổi Container thành interface và regenerate mocks
  .mockery.yaml
  CHANGELOG.md
  MIGRATION_v0.1.2.md
  RELEASE_NOTES_v0.1.0.md
  RELEASE_NOTES_v0.1.2.md
  application.go
  binding.go
  container.go
  container_test.go
  docs/application.md
  docs/container.md
  docs/mocks.md
  docs/testing.md
  mocks/Application.go
  mocks/README.md
  mocks/container.go
  mocks/deferred.go
  mocks/loader.go
  mocks/module_loader_contract.go
  mocks/provider.go
  mocks/service_provider.go
  mocks/service_provider_deferred.go
Labels: area/core, area/docs, area/tests

feat: Update package name and documentation for migration to go.fork.vn/di
  .mockery.yaml
  CHANGELOG.md
  LICENSE
  MIGRATION_v0.1.0.md
  RELEASE_NOTES_v0.1.0.md
  RELEASE_SUMMARY.md
  docs/overview.md
  mocks/Application.go
  mocks/README.md
  mocks/binding_func.go
  mocks/container.go
  mocks/module_loader_contract.go
  mocks/service_provider.go
  mocks/service_provider_deferred.go
Labels: area/docs, area/tests

fix: Update package name references from github.com/Fork/di to github.com/go-fork/di in documentation
  CHANGELOG.md
  MIGRATION_v0.1.0.md
  RELEASE_NOTES_v0.1.0.md
  RELEASE_SUMMARY.md
Labels: area/docs

refactor: Update container binding syntax to use interface directly
  .github/workflows/compatibility.yml
  .github/workflows/examples.yml
  README.md
  doc.go
  docs/container.md
Labels: area/docs, area/ci

feat: restructure release documentation and automation
  README.md
  releases/README.md
  releases/next/MIGRATION.md
  releases/next/RELEASE_NOTES.md
  releases/next/RELEASE_SUMMARY.md
  releases/v0.1.0/MIGRATION_v0.1.0.md
  releases/v0.1.0/RELEASE_NOTES_v0.1.0.md
  releases/v0.1.0/RELEASE_SUMMARY.md
  releases/v0.1.1/MIGRATION_v0.1.1.md
  releases/v0.1.2/MIGRATION_v0.1.2.md
  releases/v0.1.2/RELEASE_NOTES_v0.1.2.md
  scripts/README.md
  scripts/archive_release.sh
  scripts/create_release_templates.sh
Labels: area/docs

docs: prepare v0.1.3 release documentation
  CHANGELOG.md
  releases/next/MIGRATION.md
  releases/next/RELEASE_NOTES.md
  releases/next/RELEASE_SUMMARY.md
Labels: area/docs

release: archive v0.1.3 and setup next development cycle
  releases/v0.1.3/MIGRATION_v0.1.3.md
  releases/v0.1.3/RELEASE_NOTES_v0.1.3.md
  releases/v0.1.3/RELEASE_SUMMARY.md
Labels: none

docs: finalize v0.1.3 release in changelog
  CHANGELOG.md
Labels: area/docs
